<header class="bg-white dark:bg-gray-800 shadow dark:shadow-2xl sticky top-0">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      routerLink="/"
      class="flex title-font font-medium items-center text-gray-900 dark:text-gray-200 md:mb-0 justify-center"
    >
      <div
        class="relative w-10 h-10 bg-white border-2 border-red-700 dark:border-green-500 rounded-full overflow-hidden"
      >
        <img
          src="../../assets/cat.jpg"
          alt="Profile Picture"
          class="w-full h-full object-cover"
        />
      </div>
      <span class="ml-3 text-xl dark:text-green-500">Su Myat Myat Htay</span>
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      (click)="toggleMenu()"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div
      [ngClass]="{ block: isMenuOpen, hidden: !isMenuOpen }"
      class="hidden w-full md:block md:w-auto"
      id="navbar-default"
    >
      <nav
        class="md:ml-auto flex flex-wrap items-center text-base justify-center text-gray-900 dark:text-gray-200"
      >
        <a class="header-link" routerLink="/aboutme">About Me</a>
        <a class="header-link" routerLink="/projects">Projects</a>
        <a class="header-link" routerLink="/content">Side Projects</a>

        <app-toggle> </app-toggle>
      </nav>
    </div>
  </div>
</header>
